/* Zurich */

@font-face {
  font-family: 'Zurich';
  src: url('../fonts/Zurich/Zurich Bold Extended.woff2') format('woff2'), url('../fonts/Zurich/Zurich Bold Extended.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
  font-stretch: expanded;
}

@font-face {
  font-family: 'Zurich';
  src: url('../fonts/Zurich/Zurich Bold Condensed.woff2') format('woff2'), url('../fonts/Zurich/Zurich Bold Condensed.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
  font-stretch: condensed;
}

/* Zurich BT */

@font-face {
  font-family: 'ZurichBT';
  src: url('../fonts/Zurich/ZurichBT-Bold.woff2') format('woff2'), url('../fonts/Zurich/ZurichBT-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'ZurichBT';
  src: url('../fonts/Zurich/ZurichBT-Black.woff2') format('woff2'), url('../fonts/Zurich/ZurichBT-Black.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-display: fallback;
}

/* Sky Logo */

@font-face {
  font-family: 'SkyLogo';
  src: url('../fonts/Sky/SkyLogo-Thick.woff2') format('woff2'), url('../fonts/Sky/SkyLogo-Thick.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'SkyLogo';
  src: url('../fonts/Sky/SkyLogo-Thin.woff2') format('woff2'), url('../fonts/Sky/SkyLogo-Thin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

/* Sky Screen */

@font-face {
  font-family: 'SkyScreen';
  src: url('../fonts/Sky/SkyScreen-Regular.woff2') format('woff2'), url('../fonts/Sky/SkyScreen-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

/* Sky Info Text */

@font-face {
  font-family: 'SkyInfoText';
  src: url('../fonts/Sky/SkyInfoText-Regular.woff2') format('woff2'), url('../fonts/Sky/SkyInfoText-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
