@import (inline) './fonts.css';

@import './baseline.less';

.thick-text {
  font-family: 'Zurich', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 700;
  letter-spacing: 0.4px;
}

/*
 * CSS-based tooltips!
 */
@import './tooltips.less';

body {
  overflow: 'auto'
}
